extends layout

block head
  script(src="/js/music.js")
  link(rel="/stylesheets/music.css")

block sidebar
  #sidebar.dark(ng-app="symbolSelect")
    a.sidebar-btn(href="#")
      span
      span
      span
    .content-wrap
      .content
        include sidebar.jade

block content
  #main
    a.sidebar-btn(href="#")
      span
      span
      span
    .content-wrap
      .content
        include d3.jade