@light: #efefef;
@dark: #2c3e50;

@light-title: @dark;
@light-accent: #e67e22;
@light-text: #222;

@dark-title: white;
@dark-accent: wheat;
@dark-text: @light;

a {
  color: #00B7FF;
}

body {
  .dark {
    background-color: @dark;
    color: @dark-text;
    h1, h2, h3, h4, h5, h6 {
      color: @dark-title;
    }
    .accent {
      color: @dark-accent;
    }
  }
}

body {
  .light {
    background-color: @light;
    h1, h2, h3, h4, h5, h6 {
      color: @light-title;
    }
    .accent {
      color: @light-accent;
    }
  }
  background-color: @light;
  h1, h2, h3, h4, h5, h6 {
    color: @light-title;
  }
  .accent {
    color: @light-accent;
  }
}

@media (max-width: 767px) {
  .container {
    width: 100%;
  }
}

body {
  overflow: hidden;
}

#content-wrap {
  display: table;
  height: 100vh;
  padding: 0px;
  margin-left: 0px;
  transition: width ease 0.3s;
}

#sidebar, #main {
  //display: table-cell;
  position: relative;
}

#sidebar {
  position: relative;
  float: left;
  width: 40vw;
  height: 100vh;
  max-width: 250px;
  transition: width ease 0.3s;
}

#main {
  overflow: auto;
  width: auto;
}

.content-wrap {
  width: 100%;
  height: 100vh;
  transition: width ease 0.3s;
  overflow-x: hidden;
  position: relative;
  .content {
    position: relative;
    padding: 15px;
    display: inline-block;
  }
}

#sidebar {
  .content {
    width: 100%;
  }
}

@media(max-width: 767px) {
  #content-wrap {
    &:not(.sidebar-in) {
      #sidebar {
        width: 0px;
      }
    }

    &.sidebar-in {
      #sidebar {
        width: 100%;
        max-width: 767px;
      }
    }
  }
}

.sidebar-btn {
  position: absolute;
  right: 15px;
  top: 10px;
  width: 35px;
  height: 35px;
  z-index: 1;
  span {
    transition: ease all 0.3s;
    width: 100%;
    height: 3px;
    display: block;
    margin: 7px 0px;
  }
}

@media(min-width: 767px) {
  .sidebar-btn {
    z-index: 0;
    span {
      opacity: 0;
    }
  }
}

#sidebar {
  .sidebar-btn {
    span {
      background-color: @light;
      &:nth-child(1) {
        width: 50%;
        transform: rotate(-45deg) translate(-6px, 0px);
      }
      &:nth-child(3) {
        width: 50%;
        transform: rotate(45deg) translate(-6px, 0px);
      }
    }
  }
}

#main {
  .sidebar-btn {
    span {
      background-color: @dark;
    }
  }
}

li {
  list-style-type: none;
  padding: 0px;
}

ul {
  padding: 0px;
}

.track {
  border-top: 1px solid grey;
  margin: 0px -15px;
  position: relative;
  .content {
    padding: 0px 15px;
    &:hover {
      background-color: #34495e;
    }
  }
}

.tickers {
  .ticker {
    position: relative;
    .content {
      padding-left: 30px;
      &:hover {
        background-color: #34495e;
      }
    }
  }
}

.addBtn {
  display: block;
  font-size: 1em;
  color: white;
  position: relative;
  height: 2.5em;
  line-height: 2.3em;
  text-align: center;
  &:hover, &:focus {
    text-decoration: none;
    color: white;
  }
  &:hover {
    background-color: #34495e;
  }
}

.deleteBtn {
  position: absolute;
  right: 15px;
  bottom: 9px;
  color: #3498db;
  text-decoration: none!important;
  &:focus {
    color: #3498db;
  }
  &:hover, &:active {
    color: white;
  }
}

#sidebar {
  .ticker {
    .twitter-typeahead {
      width: 90%;
      left: 5%;
      input {
        border: none;
        font-size: 18px;
        padding-left: 15px;
      }
      input {
        &:focus, &:active {
          box-shadow: none;
        }
      }
      .tt-menu {
        background-color: white;
        color: #222;
        width: 100%;
        padding: 6px 12px;
      }
    }
  }

  input.form-control {
    border: none;
    font-size: 24px;
  }
  input.form-control {
    &:focus, &:active {
      box-shadow: none;
    }
  }

  /*.track {
    form {
      position: absolute;
      top: 2px;
      width: 100%;
    }
    .form-group {
      margin: 0px;
    }
    .form-control {
      position: relative;
      left: 5%;
      width: 90%;
      height: 0px;
      padding: 0px;
      border: none;
      border-radius: 0px;
      transition: height ease 0.1s;
    }

    a + form > .form-group > .form-control {
      &:focus, &:active, &:hover {
        height: 30px!important;
        padding: 6px 12px;
      }
    }
  }*/
  
}